header img {
  margin: 1%
}

#main-menu a.disabled {
  color: #ccc;
}

nav ul, nav menu {
  padding-left: 0;
}

ul#contacts > li {
  min-height: 0%;
  margin-left: 0%;
  margin-bottom: 2%;
}

ul#contacts a, td.actions a {
  text-decoration: none;
  color: #157FCC;
}

fieldset {
  border: 0;
}

select {
  padding-top: 0.65em !important;
  padding-bottom: 0.65em !important;
}

div.multitext {
  margin-top: 3% !important;
}

.multitext .field {
  margin-bottom: 0 !important;
}

div.tagfield div.action {
  margin-left: 3% !important;
  width: 70% !important;
  display: inline-table !important;
}

div.tagfield p div {
  margin: 1% !important;
}

select.tagfield {
  width: 70%;
  margin-left: 2%;
}

.golem-tag {
  text-transform: none !important;
}

li.golem-tag span.buttons {
  margin-left: 3% !important;
}

div.helper {
  margin: 0 !important;
  max-width: none !important;
  top: -3em !important;
  left: 8em !important;
}

div.helper i.close {
  float: right;
  cursor: pointer;
}

li.contact div.content {
  cursor: auto !important;
}

.ui.buttons .or:before {
  content: 'ou';
  /* Localization problem */
}

menu.fixed-right {
  position: fixed;
  margin-right: 1%;
}

.notification {
  z-index: 99 !important;
  cursor: pointer !important;
}

section.notification {
  width: 20%;
  position: fixed !important;
  right: 1%;
  bottom: 2%;
}

div.notification {
  animation: 1s fadein;
  -moz-animation: 1s fadein;
  -webkit-animation: 1s fadein;
}

@keyframes fadein { from { opacity: 0 } to { opacity: 1 } }
@-moz-keyframes fadein { from { opacity: 0 } to { opacity: 1 } }
@-webkit-keyframes fadein { from { opacity: 0 } to { opacity: 1 } }

th.sortable {
  cursor: pointer !important;
}

th.sortable i {
  visibility: hidden;
}

th.sortable:hover i {
  visibility: visible;
}
